@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
$theme-colors: (
    "primary": #015D98,
    "secondary": #EBEBEE,
    "warning": #FF8200,
    "info": #244BBC,
    "success": #06C671,
    "danger": #BE0C22
);
$info: #244BBC;
$success: #06C671;
$danger: #BE0C22;
$secondary: #EBEBEE;
$warning: #FF8200;
$info: #244BBC;
$white: #ffffff;
$primary: #015D98;
$assign: #FEC325;
$black: #000000;
$text-muted: #999999;
$font-family-base: 'Roboto', sans-serif;
$font-size-base: 0.875rem;
$font-weight-base: 500;
$body-color: #030F27 !default;
$headings-font-weight: 700;
$headings-color: #000000;
$light: #ffffff;
$btn-border-radius: 2px;

$btn-padding-y: 12.5px;
$btn-padding-x: 12.5px;

$btn-padding-y-sm: .4rem;
$btn-padding-x-sm: 1.4rem;
$btn-font-size-sm: 12px;
$bg-section: #FAFAFA;
$bg-footer: #F9F9F9;
$color-border: #C4C4C4;
