html,
body {
  font-family: $font-family-base;
  -webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background-color: #F3F7FA;
}
h1 {
  font-size: 34px;
}
h2 {
  font-size: 32px;
}
.mb-20 {
  margin-bottom: 140px !important;
}

.section {
  padding: 96px 0;
  &.bg {
    background-color: $bg-section;
  }
}
.gutter-10 {
  .container {
    padding-left: 10px;
    padding-right: 10px;
    .row {
      margin-left: -10px;
      margin-right: -10px;
      div[class^="col-"] {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
}
.title {
  margin-bottom: 60px;
  padding-bottom: 30px;
  text-align: center;
  position: relative;
  &::after {
    content: "";
    width: 80px;
    height: 2px;
    background-color: $primary;
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: -40px;
  }
  span {
    color: $primary;
    font-size: 12px;
    text-transform: uppercase;
  }
  h2 {
    font-size: 48px;
    line-height: 40px;
    margin-bottom: 10px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 10px;
  }
}
.main-content {
  padding: 72px 30px 96px 30px;
  background-color: #F3F7FA;
  .wrapper {
    background-color: $white;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #E8E8E8;
    overflow-x: hidden;
  }
}

