{% set page_id = "Team" %}
{% extends "layout.html" %}
{% block content %}
<div class="main-content team">
	<div class="container">
		<div class="wrapper">
			<div class="d-flex">
			  <div class="side-content">
			    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
			      <a class="nav-link active" id="team-tab1" data-toggle="pill" href="#team1" role="tab" aria-controls="team1" aria-selected="true">
			      	<span class="name">Michael J.Levesque</span>
			      	<span class="job">Chief Executive Officer</span>
			      	<span class="email">mlevesque@resolvecollaboration.com</span>
			      	<span class="phone">(416) 848-4899</span>
			      </a>
			      <a class="nav-link" id="team-tab2" data-toggle="pill" href="#tab-team2" role="tab" aria-controls="tab-team2" aria-selected="false">
			      	<span class="name">Bob Smith</span>
			      	<span class="job">Chief Information Officer</span>
			      	<span class="email">cio@resolvecollaboration.com</span>
			      	<span class="phone">(416) 848-4810</span>
			      </a>
			      <a class="nav-link" id="team-tab3" data-toggle="pill" href="#tab-team3" role="tab" aria-controls="tab-team3" aria-selected="false">
			      	<span class="name">Frank Blue</span>
			      	<span class="job">Director of IT</span>
			      	<span class="email">doit@resolvecollaboration.com</span>
			      	<span class="phone">(416) 848-4811</span>
			      </a>
			      <a class="nav-link" id="team-tab4" data-toggle="pill" href="#tab-team4" role="tab" aria-controls="tab-team4" aria-selected="false">
			      	<span class="name">Peter Matsumoto</span>
			      	<span class="job">Chief Development Officer</span>
			      	<span class="email">peter@resolvecollaboration.com</span>
			      	<span class="phone">(416) 848-4812</span>
			      </a>
			    </div>
			  </div>
			  <div class="body-content">
			    <div class="tab-content" id="v-pills-tabContent">
			      <div class="tab-pane fade show active" id="team1" role="tabpanel" aria-labelledby="team-tab1">
			      	<div class="detail-team">
			      		<div class="name-team d-flex justify-content-between align-items-center">
			      			<h2>Michael J.Lavesque</h2>
			      			<div class="action d-flex align-items-center">
			      				<a href="#"><span class="material-icons-outlined">edit</span></a>
			      				<a href="#"><span class="material-icons-outlined">delete_outline</span></a>
			      				<div class="btn-group">
								  <button type="button" class="btn btn-sm px-0 py-0 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								    <span class="material-icons">more_horiz</span>
								  </button>
								  <div class="dropdown-menu">
								    <a class="dropdown-item" href="#"><span class="material-icons-outlined">mail</span> Email</a>
								    <a class="dropdown-item" href="#"><span class="material-icons-outlined">phone</span> Call</a>
								    <a class="dropdown-item" href="#"><span class="material-icons-outlined">location_on</span> Location</a>
								  </div>
								</div>
			      			</div>
			      		</div>
			      		<div class="desc-team">
			      			<form>
							  <div class="row">
							  	<div class="form-group col-md-6">
							      <label for="company">Company</label>
							      <input type="text" class="form-control" id="company" value="Resolve Collaboration Service Corps.">
							    </div>
							    <div class="form-group col-md-6">
							      <label for="email">Email</label>
							      <input type="email" class="form-control" id="email" value="mlevesque@resolvecollaboration.com">
							    </div>
							    <div class="form-group col-md-6">
							      <label for="phone">Phone</label>
							      <input type="text" class="form-control" id="phone" value="(416) 848-4899">
							    </div>
							    <div class="form-group col-md-6">
							      <label for="cell">Cell</label>
							      <input type="text" class="form-control" id="cell" value="647-515-9271">
							    </div>
							    <div class="form-group col-md-6">
							      <label for="phone">Cell</label>
							      	<div class="dropdown">
									  <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									    IT Operation
									  </button>
									  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
									    <a class="dropdown-item" href="#">IT Operation</a>
									    <a class="dropdown-item" href="#">Marketing</a>
									    <a class="dropdown-item" href="#">Customer Service</a>
									    <a class="dropdown-item" href="#">Content Creator</a>
									  </div>
									</div>
							    </div>
							    <div class="form-group col-md-6">
							      <label for="cpid">CPID</label>
							      <input type="text" class="form-control" id="cpid" value="7787">
							    </div>
							    <div class="form-group col-md-6">
							      <label for="phone">Email Marketing Opt-in Status</label>
							      	<div class="dropdown">
									  <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									    Unverified
									  </button>
									  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
									    <a class="dropdown-item" href="#">Unverified</a>
									    <a class="dropdown-item" href="#">Verified</a>
									  </div>
									</div>
							    </div>
							    <div class="form-group col-md-6">
							      <label for="datepicker">Next Call</label>
							      <div class="datepicker">
							      	<input type="text" class="form-control" data-toggle="datepicker">
							      </div>
							      <div class="text-right"><a href="#" class="clear">CLEAR</a></div>
							    </div>
							  </div>
							</form>
							<div class="history">
								<h2>History Activity</h2>
								<ul class="history-list ">
									<li class="list-load">
										<div class="d-flex">
										<div class="history-date">
											4.52 PM Friday October 9th 2020
										</div>
										<div class="history-activity">
											Client Viewed email marketing campaign  Poly Work from Home solution
										</div>
									</li>
									<li class="list-load">
										<div class="d-flex">
										<div class="history-date">
											2.34 PM Saturday October 10th 2020
										</div>
										<div class="history-activity">
											Client Looked at Quote
										</div>
									</li>
									<li class="list-load">
										<div class="d-flex">
										<div class="history-date">
											4.52 PM Monday October 12th 2020
										</div>
										<div class="history-activity">
											Client Looked at Social Media
										</div>
									</li>
									<li class="list-load">
										<div class="d-flex">
										<div class="history-date">
											4.52 PM Monday October 12th 2020
										</div>
										<div class="history-activity">
											Client Viewed email Author Blog Post, allow people to take their plans home
										</div>
									</li>
									<li class="list-load">
										<div class="d-flex">
										<div class="history-date">
											3.32 PM Monday October 12th 2020
										</div>
										<div class="history-activity">
											Thursday October 5th 2020 5:16 PM : I am reaching you concerning the framework agreement 10000037 we have with Resolve and which was renewed until June 30, 2021. Because Of the present exceptional situation, the new bid we are preparing well be delayed a few months. In order to enable HoC to continue to have the services, we would like to extend our present Framework Agreement with the same terms and conditions and price until september 30, 2021. Do you agree for these extentions? I am preparing the new amendment and when it is ready i will send you a copy for signature, Thankyou
										</div>
									</li>
									<li class="list-load">
										<div class="d-flex">
										<div class="history-date">
											2:12 AM Tuesday October 13th 2020
										</div>
										<div class="history-activity">
											Client Viewed discussion questions at lunch tables
										</div>
										</div>
									</li>
									<li class="list-load">
										<div class="d-flex">
										<div class="history-date">
											1:14 PM Wednesday October 14th 2020
										</div>
										<div class="history-activity">
											Client Invite Online Author Promotion
										</div>
										</div>
									</li>
									<li class="list-load">
										<div class="d-flex">
										<div class="history-date">
											5:16 PM Thursday October 15th 2020
										</div>
										<div class="history-activity">
											Client Looked at Quote
										</div>
										</div>
									</li>
									<li class="list-load">
										<div class="d-flex">
										<div class="history-date">
											2:34 PM Friday October 16th 2020
										</div>
										<div class="history-activity">
											Client Viewed email marketing campaign Poly Work from Home Solution
										</div>
										</div>
									</li>
									<li class="list-load">
										<div class="d-flex">
										<div class="history-date">
											4:52 PM Friday October 16th 2020
										</div>
										<div class="history-activity">
											Client Looked at Social Media
										</div>
										</div>
									</li>
									<li class="list-load">
										<div class="d-flex">
										<div class="history-date">
											5:52 PM Friday October 16th 2020
										</div>
										<div class="history-activity">
											Client Viewed email Author Blog Posts, allow people to take their plants home
										</div>
										</div>
									</li>
									<li class="list-load">
										<div class="d-flex">
										<div class="history-date">
											1:14 PM Saturday October 17th 2020
										</div>
										<div class="history-activity">
											Client Invite Online Author Promotion
										</div>
										</div>
									</li>
									<li class="list-load">
										<div class="d-flex">
										<div class="history-date">
											3:11 PM Saturday October 17th 2020
										</div>
										<div class="history-activity">
											Client Add sponsor networking
										</div>
										</div>
									</li>
								</ul>
								<div class="text-center py-5">
									<button class="btn btn-loadmore mt-5" id="loadMore">Load More <span class="material-icons-outlined">autorenew</span></button>
								</div>
							</div>
			      		</div>
			      	</div>
			      </div>
			      <div class="tab-pane fade" id="tab-team2" role="tabpanel" aria-labelledby="team-tab2">
			      	<div class="detail-team">
			      		<div class="name-team d-flex justify-content-between align-items-center">
			      			<h2>Bob Smith</h2>
			      			<div class="action d-flex align-items-center">
			      				<a href="#"><span class="material-icons-outlined">edit</span></a>
			      				<a href="#"><span class="material-icons-outlined">delete_outline</span></a>
			      				<div class="btn-group">
								  <button type="button" class="btn btn-sm px-0 py-0 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								    <span class="material-icons">more_horiz</span>
								  </button>
								  <div class="dropdown-menu">
								    <a class="dropdown-item" href="#"><span class="material-icons-outlined">mail</span> Email</a>
								    <a class="dropdown-item" href="#"><span class="material-icons-outlined">phone</span> Call</a>
								    <a class="dropdown-item" href="#"><span class="material-icons-outlined">location_on</span> Location</a>
								  </div>
								</div>
			      			</div>
			      		</div>
			      		<div class="desc-team">
			      			<form>
							  <div class="row">
							  	<div class="form-group col-md-6">
							      <label for="company">Company</label>
							      <input type="text" class="form-control" id="company" value="Resolve Collaboration Service Corps.">
							    </div>
							    <div class="form-group col-md-6">
							      <label for="email">Email</label>
							      <input type="email" class="form-control" id="email" value="cio@resolvecollaboration.com">
							    </div>
							    <div class="form-group col-md-6">
							      <label for="phone">Phone</label>
							      <input type="text" class="form-control" id="phone" value="(416) 848-4810">
							    </div>
							    <div class="form-group col-md-6">
							      <label for="cell">Cell</label>
							      <input type="text" class="form-control" id="cell" value="647-515-9271">
							    </div>
							    <div class="form-group col-md-6">
							      <label for="phone">Cell</label>
							      	<div class="dropdown">
									  <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									    IT Operation
									  </button>
									  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
									    <a class="dropdown-item" href="#">IT Operation</a>
									    <a class="dropdown-item" href="#">Marketing</a>
									    <a class="dropdown-item" href="#">Customer Service</a>
									    <a class="dropdown-item" href="#">Content Creator</a>
									  </div>
									</div>
							    </div>
							    <div class="form-group col-md-6">
							      <label for="cpid">CPID</label>
							      <input type="text" class="form-control" id="cpid" value="7787">
							    </div>
							    <div class="form-group col-md-6">
							      <label for="phone">Email Marketing Opt-in Status</label>
							      	<div class="dropdown">
									  <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									    Unverified
									  </button>
									  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
									    <a class="dropdown-item" href="#">Unverified</a>
									    <a class="dropdown-item" href="#">Verified</a>
									  </div>
									</div>
							    </div>
							    <div class="form-group col-md-6">
							      <label for="datepicker">Next Call</label>
							      <div class="datepicker">
							      	<input type="text" class="form-control" data-toggle="datepicker">
							      </div>
							      <div class="text-right"><a href="#" class="clear">CLEAR</a></div>
							    </div>
							  </div>
							</form>
							<div class="history">
								<h2>History Activity</h2>
								<ul class="history-list">
									<li class="list-load2">
										<div class="d-flex">
										<div class="history-date">
											4.52 PM Friday October 9th 2020
										</div>
										<div class="history-activity">
											Client Viewed email marketing campaign Poly Work from Home Solution
										</div>
									</li>
									<li class="list-load2">
										<div class="d-flex">
										<div class="history-date">
											2.34 PM Saturday October 10th 2020
										</div>
										<div class="history-activity">
											Client Looked at Quote
										</div>
									</li>
									<li class="list-load2">
										<div class="d-flex">
										<div class="history-date">
											4.52 PM Monday October 12th 2020
										</div>
										<div class="history-activity">
											Client Looked at Social Media
										</div>
									</li>
									<li class="list-load2">
										<div class="d-flex">
										<div class="history-date">
											4.52 PM Monday October 12th 2020
										</div>
										<div class="history-activity">
											Client Viewed email Author Blog Post, allow people to take their plans home
										</div>
									</li>
									<li class="list-load2">
										<div class="d-flex">
										<div class="history-date">
											5.32 PM Monday October 12th 2020
										</div>
										<div class="history-activity">
											Thursday October 5th 2020 5:16 PM : I am reaching you concerning the framework agreement 10000037 we have with Resolve and which was renewed until June 30, 2021. Because Of the present exceptional situation, the new bid we are preparing well be delayed a few months. In order to enable HoC to continue to have the services, we would like to extend our present Framework Agreement with the same terms and conditions and price until september 30, 2021. Do you agree for these extentions? I am preparing the new amendment and when it is ready i will send you a copy for signature, Thankyou
										</div>
									</li>
									<li class="list-load2">
										<div class="d-flex">
										<div class="history-date">
											2:12 AM Tuesday October 13th 2020
										</div>
										<div class="history-activity">
											Client Viewed discussion questions at lunch tables
										</div>
										</div>
									</li>
									<li class="list-load2">
										<div class="d-flex">
										<div class="history-date">
											1:14 PM Wednesday October 14th 2020
										</div>
										<div class="history-activity">
											Client Invite Online Author Promotion
										</div>
										</div>
									</li>
									<li class="list-load2">
										<div class="d-flex">
										<div class="history-date">
											5:16 PM Thursday October 15th 2020
										</div>
										<div class="history-activity">
											Client Looked at Quote
										</div>
										</div>
									</li>
									<li class="list-load2">
										<div class="d-flex">
										<div class="history-date">
											2:34 PM Friday October 16th 2020
										</div>
										<div class="history-activity">
											Client Viewed email marketing campaign Poly Work from Home Solution
										</div>
										</div>
									</li>
									<li class="list-load2">
										<div class="d-flex">
										<div class="history-date">
											4:52 PM Friday October 16th 2020
										</div>
										<div class="history-activity">
											Client Looked at Social Media
										</div>
										</div>
									</li>
									<li class="list-load2">
										<div class="d-flex">
										<div class="history-date">
											5:52 PM Friday October 16th 2020
										</div>
										<div class="history-activity">
											Client Viewed email Author Blog Posts, allow people to take their plants home
										</div>
										</div>
									</li>
									<li class="list-load2">
										<div class="d-flex">
										<div class="history-date">
											1:14 PM Saturday October 17th 2020
										</div>
										<div class="history-activity">
											Client Invite Online Author Promotion
										</div>
										</div>
									</li>
									<li class="list-load2">
										<div class="d-flex">
										<div class="history-date">
											3:11 PM Saturday October 17th 2020
										</div>
										<div class="history-activity">
											Client Add sponsor networking
										</div>
										</div>
									</li>
								</ul>
								<div class="text-center py-5">
									<button class="btn btn-loadmore mt-5" id="loadMore2">Load More <span class="material-icons-outlined">autorenew</span></button>
								</div>
							</div>
			      		</div>
			      	</div>
			      </div>
			      <div class="tab-pane fade" id="tab-team3" role="tabpanel" aria-labelledby="team-tab3">
			      	<div class="detail-team">
			      		<div class="name-team d-flex justify-content-between align-items-center">
			      			<h2>Frank Blue</h2>
			      			<div class="action d-flex align-items-center">
			      				<a href="#"><span class="material-icons-outlined">edit</span></a>
			      				<a href="#"><span class="material-icons-outlined">delete_outline</span></a>
			      				<div class="btn-group">
								  <button type="button" class="btn btn-sm px-0 py-0 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								    <span class="material-icons">more_horiz</span>
								  </button>
								  <div class="dropdown-menu">
								    <a class="dropdown-item" href="#"><span class="material-icons-outlined">mail</span> Email</a>
								    <a class="dropdown-item" href="#"><span class="material-icons-outlined">phone</span> Call</a>
								    <a class="dropdown-item" href="#"><span class="material-icons-outlined">location_on</span> Location</a>
								  </div>
								</div>
			      			</div>
			      		</div>
			      		<div class="desc-team">
			      			<form>
							  <div class="row">
							  	<div class="form-group col-md-6">
							      <label for="company">Company</label>
							      <input type="text" class="form-control" id="company" value="Resolve Collaboration Service Corps.">
							    </div>
							    <div class="form-group col-md-6">
							      <label for="email">Email</label>
							      <input type="email" class="form-control" id="email" value="doit@resolvecollaboration.com">
							    </div>
							    <div class="form-group col-md-6">
							      <label for="phone">Phone</label>
							      <input type="text" class="form-control" id="phone" value="(416) 848-4812">
							    </div>
							    <div class="form-group col-md-6">
							      <label for="cell">Cell</label>
							      <input type="text" class="form-control" id="cell" value="647-515-9271">
							    </div>
							    <div class="form-group col-md-6">
							      <label for="phone">Cell</label>
							      	<div class="dropdown">
									  <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									    IT Operation
									  </button>
									  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
									    <a class="dropdown-item" href="#">IT Operation</a>
									    <a class="dropdown-item" href="#">Marketing</a>
									    <a class="dropdown-item" href="#">Customer Service</a>
									    <a class="dropdown-item" href="#">Content Creator</a>
									  </div>
									</div>
							    </div>
							    <div class="form-group col-md-6">
							      <label for="cpid">CPID</label>
							      <input type="text" class="form-control" id="cpid" value="7787">
							    </div>
							    <div class="form-group col-md-6">
							      <label for="phone">Email Marketing Opt-in Status</label>
							      	<div class="dropdown">
									  <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									    Unverified
									  </button>
									  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
									    <a class="dropdown-item" href="#">Unverified</a>
									    <a class="dropdown-item" href="#">Verified</a>
									  </div>
									</div>
							    </div>
							    <div class="form-group col-md-6">
							      <label for="datepicker">Next Call</label>
							      <div class="datepicker">
							      	<input type="text" class="form-control" data-toggle="datepicker">
							      </div>
							      <div class="text-right"><a href="#" class="clear">CLEAR</a></div>
							    </div>
							  </div>
							</form>
							<div class="history">
								<h2>History Activity</h2>
								<ul class="history-list">
									<li class="list-load3">
										<div class="d-flex">
										<div class="history-date">
											4.52 PM Monday October 12th 2020
										</div>
										<div class="history-activity">
											Client Looked at Social Media
										</div>
									</li>
									<li class="list-load3">
										<div class="d-flex">
										<div class="history-date">
											4.52 PM Monday October 12th 2020
										</div>
										<div class="history-activity">
											Client Viewed email Author Blog Posts, allow people to take their plants home
										</div>
									</li>
									<li class="list-load3">
										<div class="d-flex">
										<div class="history-date">
											3:32 PM Monday October 12th 2020
										</div>
										<div class="history-activity">
											Thursday October 15th 2020 5:16 PM : I am reaching you concerning the framework agreement 10000037 we have with Resolve and which was renewed until june 30, 2021. Because of the present exceptional situation, the new bid we are preparing will be delayed a few months. In order to enable HoC to continue to have the services, we would like to extend our present Framework Agreement with the same terms and conditions and prices until september 30, 2021. Do you agree for these extensions? I am preparing the new amendment and when it is ready I will send you a copy for signature, Thankyou
										</div>
									</li>
									<li class="list-load3">
										<div class="d-flex">
										<div class="history-date">
											2:12 AM Tuesday October 13th 2020
										</div>
										<div class="history-activity">
											Client Viewed discussion questions at lunch tables
										</div>
									</li>
									<li class="list-load3">
										<div class="d-flex">
										<div class="history-date">
											1:14 PM Wednesday October 14th 2020
										</div>
										<div class="history-activity">
											Client Invite Online Author Promotion
										</div>
									</li>
									<li class="list-load3">
										<div class="d-flex">
										<div class="history-date">
											5:16 PM Thursday October 15th 2020
										</div>
										<div class="history-activity">
											Client Looked at Quote
										</div>
										</div>
									</li>
									<li class="list-load3">
										<div class="d-flex">
										<div class="history-date">
											2:34 PM Friday October 16th 2020
										</div>
										<div class="history-activity">
											Client Viewed email marketing campaign Poly Work from Home Solution
										</div>
										</div>
									</li>
									<li class="list-load3">
										<div class="d-flex">
										<div class="history-date">
											4:52 PM Friday October 16th 2020
										</div>
										<div class="history-activity">
											Client Looked at Social Media
										</div>
										</div>
									</li>
									<li class="list-load3">
										<div class="d-flex">
										<div class="history-date">
											5:52 PM Friday October 16th 2020
										</div>
										<div class="history-activity">
											Client Viewed email Author Blog Posts, allow people to take their plants home
										</div>
										</div>
									</li>
									<li class="list-load3">
										<div class="d-flex">
										<div class="history-date">
											1:14 PM Saturday October 17th 2020
										</div>
										<div class="history-activity">
											Client Invite Online Author Promotion
										</div>
										</div>
									</li>
									<li class="list-load3">
										<div class="d-flex">
										<div class="history-date">
											3:11 PM Saturday October 17th 2020
										</div>
										<div class="history-activity">
											Client Add sponsor networking
										</div>
										</div>
									</li>
								</ul>
								<div class="text-center py-5">
									<button class="btn btn-loadmore mt-5" id="loadMore3">Load More <span class="material-icons-outlined">autorenew</span></button>
								</div>
							</div>
			      		</div>
			      	</div>
			      </div>
			      <div class="tab-pane fade" id="tab-team4" role="tabpanel" aria-labelledby="team-tab4">
			      	<div class="detail-team">
			      		<div class="name-team d-flex justify-content-between align-items-center">
			      			<h2>Peter Matsumoto</h2>
			      			<div class="action d-flex align-items-center">
			      				<a href="#"><span class="material-icons-outlined">edit</span></a>
			      				<a href="#"><span class="material-icons-outlined">delete_outline</span></a>
			      				<div class="btn-group">
								  <button type="button" class="btn btn-sm px-0 py-0 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								    <span class="material-icons">more_horiz</span>
								  </button>
								  <div class="dropdown-menu">
								    <a class="dropdown-item" href="#"><span class="material-icons-outlined">mail</span> Email</a>
								    <a class="dropdown-item" href="#"><span class="material-icons-outlined">phone</span> Call</a>
								    <a class="dropdown-item" href="#"><span class="material-icons-outlined">location_on</span> Location</a>
								  </div>
								</div>
			      			</div>
			      		</div>
			      		<div class="desc-team">
			      			<form>
							  <div class="row">
							  	<div class="form-group col-md-6">
							      <label for="company">Company</label>
							      <input type="text" class="form-control" id="company" value="Resolve Collaboration Service Corps.">
							    </div>
							    <div class="form-group col-md-6">
							      <label for="email">Email</label>
							      <input type="email" class="form-control" id="email" value="Peter@resolvecollaboration.com">
							    </div>
							    <div class="form-group col-md-6">
							      <label for="phone">Phone</label>
							      <input type="text" class="form-control" id="phone" value="(416) 848-4812">
							    </div>
							    <div class="form-group col-md-6">
							      <label for="cell">Cell</label>
							      <input type="text" class="form-control" id="cell" value="647-515-9271">
							    </div>
							    <div class="form-group col-md-6">
							      <label for="phone">Cell</label>
							      	<div class="dropdown">
									  <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									    IT Operation
									  </button>
									  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
									    <a class="dropdown-item" href="#">IT Operation</a>
									    <a class="dropdown-item" href="#">Marketing</a>
									    <a class="dropdown-item" href="#">Customer Service</a>
									    <a class="dropdown-item" href="#">Content Creator</a>
									  </div>
									</div>
							    </div>
							    <div class="form-group col-md-6">
							      <label for="cpid">CPID</label>
							      <input type="text" class="form-control" id="cpid" value="7787">
							    </div>
							    <div class="form-group col-md-6">
							      <label for="phone">Email Marketing Opt-in Status</label>
							      	<div class="dropdown">
									  <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									    Unverified
									  </button>
									  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
									    <a class="dropdown-item" href="#">Unverified</a>
									    <a class="dropdown-item" href="#">Verified</a>
									  </div>
									</div>
							    </div>
							    <div class="form-group col-md-6">
							      <label for="datepicker">Next Call</label>
							      <div class="datepicker">
							      	<input type="text" class="form-control" data-toggle="datepicker">
							      </div>
							      <div class="text-right"><a href="#" class="clear">CLEAR</a></div>
							    </div>
							  </div>
							</form>
							<div class="history">
								<h2>History Activity</h2>
								<ul class="history-list">
									<li class="list-load4">
										<div class="d-flex">
										<div class="history-date">
											3:32 PM Monday October 12th 2020
										</div>
										<div class="history-activity">
											Thursday October 15th 2020 5:16 PM : I am reaching you concerning the framework agreement 10000037 we have with Resolve and which was renewed until june 30, 2021. Because of the present exceptional situation, the new bid we are preparing will be delayed a few months. In order to enable HoC to continue to have the services, we would like to extend our present Framework Agreement with the same terms and conditions and prices until september 30, 2021. Do you agree for these extensions? I am preparing the new amendment and when it is ready I will send you a copy for signature, Thankyou
										</div>
									</li>
									<li class="list-load4">
										<div class="d-flex">
										<div class="history-date">
											2:12 AM Tuesday October 13th 2020
										</div>
										<div class="history-activity">
											Client Viewed discussion questions at lunch tables
										</div>
									</li>
									<li class="list-load4">
										<div class="d-flex">
										<div class="history-date">
											1:14 PM Wednesday October 14th 2020
										</div>
										<div class="history-activity">
											Client Invite Online Author Promotion
										</div>
									</li>
									<li class="list-load4">
										<div class="d-flex">
										<div class="history-date">
											5:16 PM Thursday October 15th 2020
										</div>
										<div class="history-activity">
											Client Looked at Quote
										</div>
										</div>
									</li>
									<li class="list-load4">
										<div class="d-flex">
										<div class="history-date">
											2:34 PM Friday October 16th 2020
										</div>
										<div class="history-activity">
											Client Viewed email marketing campaign Poly Work from Home Solution
										</div>
										</div>
									</li>
									<li class="list-load4">
										<div class="d-flex">
										<div class="history-date">
											4:52 PM Friday October 16th 2020
										</div>
										<div class="history-activity">
											Client Looked at Social Media
										</div>
										</div>
									</li>
									<li class="list-load4">
										<div class="d-flex">
										<div class="history-date">
											5:52 PM Friday October 16th 2020
										</div>
										<div class="history-activity">
											Client Viewed email Author Blog Posts, allow people to take their plants home
										</div>
										</div>
									</li>
									<li class="list-load4">
										<div class="d-flex">
										<div class="history-date">
											1:14 PM Saturday October 17th 2020
										</div>
										<div class="history-activity">
											Client Invite Online Author Promotion
										</div>
										</div>
									</li>
									<li class="list-load4">
										<div class="d-flex">
										<div class="history-date">
											3:11 PM Saturday October 17th 2020
										</div>
										<div class="history-activity">
											Client Add sponsor networking
										</div>
										</div>
									</li>
								</ul>
								<div class="text-center py-5">
									<button class="btn btn-loadmore mt-5" id="loadMore4">Load More <span class="material-icons-outlined">autorenew</span></button>
								</div>
							</div>
			      		</div>
			      	</div>
			      </div>
			    </div>
			  </div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
{% block script %}
{% endblock %}