{% set page_id = "Team" %}
{% extends "layout.html" %}
{% block content %}
<!-- Modal -->
<div class="modal fade" id="addParticipant" tabindex="-1" role="dialog" aria-labelledby="addParticipantLabel" aria-hidden="true">
  <div class="modal-dialog modal-add modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Participant</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="material-icons-outlined">close</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
        	<div class="form-group">
		      <label for="firstName">First Name</label>
		      <input type="text" class="form-control" id="firstName" placeholder="First Name">
		    </div>
		    <div class="form-group">
		      <label for="lastName">Last Name</label>
		      <input type="text" class="form-control" id="lastName" placeholder="Last Name">
		    </div>
		    <div class="form-group">
		      <label for="title">Title</label>
		      <input type="text" class="form-control" id="title" placeholder="Title">
		    </div>
		    <div class="form-group">
		      <label for="email">Email</label>
		      <input type="email" class="form-control" id="email" placeholder="name@email.com">
		    </div>
		    <div class="form-group">
		      <label for="phone">Role</label>
		      <div class="dropdown">
				  <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    Select Role
				  </button>
				  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				    <a class="dropdown-item" href="#">Select Role</a>
				    <a class="dropdown-item" href="#">Project Manager</a>
				  </div>
				</div>
		    </div>
		    <div class="form-group">
		      <label for="phone">Phone</label>
		      <input type="text" class="form-control" id="phone" placeholder="+62 813 2871 0504">
		    </div>
		    <div class="form-group">
		      <label for="phone">Note</label>
		      <textarea class="form-control" id="notes" rows="3" placeholder="Notes"></textarea>
		    </div>
		    <div class="form-group">
		      	<label for="phone"> Admin Control</label>
		      	<div class="dropdown">
				  <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    Select Option
				  </button>
				  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				    <a class="dropdown-item" href="#">Select Option</a>
				  </div>
				</div>
		    </div>
		    <div class="action">
		    	<button class="btn btn-assign btn-block" data-dismiss="modal" data-toggle="modal" data-target="#addParticipantCsv">SUBMIT</button>
		    </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block script %}
{% endblock %}