{% set page_id = "Team" %}
{% extends "layout.html" %}
{% block content %}
<!-- Modal -->

<div class="modal fade" id="addParticipantCsv" tabindex="-1" role="dialog" aria-labelledby="addParticipantCsvLabel" aria-hidden="true">
  <div class="modal-dialog modal-add modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Participant via CSV</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="material-icons-outlined">close</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
        	<div class="form-group file-control">
		      <label for="firstName">First Name</label>
		      <input type="file" class="form-control-file" id="File1">
		    </div>
		    <div class="action text-right">
		    	<button class="btn btn-assign" data-dismiss="modal" >SUBMIT</button>
		    </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block script %}
{% endblock %}