<div class="header">
	<h1>Assign Task For Reservation</h1>
</div>
<div class="filter">
	<div class="row">
		<div class="col-md-9">
			<div class="row">
				<div class="col-md-4">
					<div class="dropdown">
					  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					    Select Operator
					  </a>

					  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
					    <a class="dropdown-item" href="#">Michael Levesque</a>
					    <a class="dropdown-item" href="#">Peter Howe</a>
					    <a class="dropdown-item" href="#">Indra Almudin</a>
					  </div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="dropdown">
					  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					    Select Task
					  </a>

					  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
					    <a class="dropdown-item" href="#">Cloud Tech Support</a>
					    <a class="dropdown-item" href="#">Recording Technician</a>
					    <a class="dropdown-item" href="#">RMX Bridge Operator</a>
					  </div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="dropdown">
					  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					    Select Reservation
					  </a>

					  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
					    <a class="dropdown-item" href="#">1778</a>
					    <a class="dropdown-item" href="#">1768</a>
					    <a class="dropdown-item" href="#">1888</a>
					  </div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="action d-flex justify-content-end">
				<div class="custom-control custom-checkbox mt-2 mr-5">
				  <input type="checkbox" class="custom-control-input" id="customCheck1">
				  <label class="custom-control-label text-primary" for="customCheck1">Notify</label>
				</div>
				<button class="btn btn-assign">Assign</button>
			</div>
		</div>
	</div>
</div>