{% set page_id = "Home" %}
{% extends "layout.html" %}
{% block content %}
<div class="main-content">
	<div class="container">
		<div class="wrapper">
			{% include "header.html" %}
			<div class="table-wrapper">
				<div class="table-responsive">
					<table class="table table-strip">
					  <thead class="thead-light">
					    <tr>
					      <th scope="col">OPERATOR</th>
					      <th scope="col">TASK NAME</th>
					      <th scope="col">RESERVATION</th>
					      <th scope="col" class="text-center">NOTIFY</th>
					      <th scope="col"><button class="btn btn-assign">Resend All</button></th>
					      <th scope="col" class="text-center">DELETE</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr>
					      <th>Michael Levesque</th>
					      <td>Cloud Tech Support</td>
					      <td>1788</td>
					      <td class="text-center">
					      	<div class="custom-control custom-checkbox">
							  <input type="checkbox" class="custom-control-input" id="notify1">
							  <label class="custom-control-label text-primary" for="notify1"></label>
							</div>
					      </td>
					      <td><button class="btn btn-outline-primary">Resend</button></td>
					      <td class="text-center"><a href="#" class="text-primary"><span class="material-icons">delete_outline</span></a></td>
					    </tr>
					    <tr>
					      <th>Peter Howe</th>
					      <td>Recording Technician</td>
					      <td>1788</td>
					      <td class="text-center">
					      	<div class="custom-control custom-checkbox">
							  <input type="checkbox" class="custom-control-input" id="notify2">
							  <label class="custom-control-label text-primary" for="notify2"></label>
							</div>
					      </td>
					      <td><button class="btn btn-outline-primary">Resend</button></td>
					      <td class="text-center"><a href="#" class="text-primary"><span class="material-icons">delete_outline</span></a></td>
					    </tr>
					    <tr>
					      <th>Indra Almudin</th>
					      <td>RMX Bridge Operator</td>
					      <td>1788</td>
					      <td class="text-center">
					      	<div class="custom-control custom-checkbox">
							  <input type="checkbox" class="custom-control-input" id="notify3">
							  <label class="custom-control-label text-primary" for="notify3"></label>
							</div>
					      </td>
					      <td><button class="btn btn-outline-primary">Resend</button></td>
					      <td class="text-center"><a href="#" class="text-primary"><span class="material-icons">delete_outline</span></a></td>
					    </tr>
					  </tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock %}
{% block script %}
<script src="./dist/js/jquery.nav.js"></script>
<script src="./dist/js/count-down.js"></script>
{% endblock %}