.team {
	.body-content {
		width: 100%;
		border-left: 1px solid #ced4da;
	}
	.nav-pills {
		.nav-link {
			width: 360px;
			padding: 16px 30px;
			position: relative;
			span {
				color: $body-color;
				display: block;
				margin-bottom: 6px;
				font-size: 12px;
				&:last-child {
					margin-bottom: 0;
				}
				&.name {
					font-size: 16px;
					font-weight: 500;
				}
				&.job {
					font-weight: 500;
				}
				&.email {
					color: $primary;
					font-weight: 400;
				}
				&.phone {
					font-weight: 500;
				}
			}
			&.active {
				background-color: #F1F7FF;
				color: $body-color;
				&::after {
					content: "chevron_right";
					font-family: 'Material Icons';
		            font-weight: normal;
		            font-style: normal;
		            position: absolute;
		            font-size: 30px;
		            top: 50%;
		            right: 5px;
		            line-height: 1;
		            letter-spacing: normal;
		            text-transform: none;
		            display: inline-block;
		            white-space: nowrap;
		            word-wrap: normal;
		            direction: ltr;
		            color: $primary;
		            -webkit-font-feature-settings: 'liga';
		            -webkit-font-smoothing: antialiased;
		            transform: translateY(-50%);
		            -webkit-transform: translateY(-50%);
		            -moz-transform: translateY(-50%);
				}
			}
		}
	}
	.detail-team {
		width: 100%;
		.name-team {
			padding: 15px 30px;
			h2 {
				font-size: 24px;
				font-weight: 500;
			}
			.action {
				> a {
					margin-right: 10px;
					span {
						font-size: 20px;
					}
				}
				.dropdown-toggle {
					color: $primary;
					margin-top: -6px;
					&::after {
						display: none;
					}
					.material-icons {
						margin-right: 0;
						font-size: 20px;
					}
				}
				.dropdown-menu {
					min-width: 6rem;
					left: -26px !important;
					.dropdown-item {
						color: $primary;
						padding: 4px 15px;
						line-height: 30px;
						.material-icons-outlined {
							font-size: 20px;
							vertical-align: middle;
						}
					}
				}
			}
		}
		.desc-team {
			padding: 30px;
			form {
				.form-group {
					label {
						font-weight: 400;
						font-size: 12px;
						margin-bottom: 0;
					}
					.form-control {
						border-radius: 0;
						border-top: none;
						border-left: none;
						border-right: none;
						color: #212121;
						padding: 10px 0;
						font-weight: 500;
						font-size: 16px;
						&[type="email"] {
							color: $primary;
						}
					}
					.dropdown {
						.btn {
							background-color: transparent;
							border-radius: 0;
							border-bottom: 1px solid #ced4da;
							text-align: left;
							color: #212121;
							padding: 6px 0;
							font-weight: 500;
							width: 100%;
							position: relative;
							&::after {
								position: absolute;
								top: 16px;
								right: 10px;
							}
						}
						.dropdown-menu {
							width: 100%;
							.dropdown-item {
								padding: 8px 15px;
							}
						}
					}
					.clear {
						font-size: 12px;
						font-weight: 400;
					}
				}
			}
			.history {
				h2 {
					font-size: 24px;
					font-weight: 500;
				}
				.history-list {
					list-style: none;
					padding-left: 0;
					margin-bottom: 0;
					li {
						border-bottom: 1px solid #ced4da;
						padding: 10px 0;
						&.list-load, &.list-load2, &.list-load3, &.list-load4 {
							display: none;
						}
						.history-date {
							min-width: 140px;
							max-width: 140px;
							margin-right: 20px;
						}
						.history-activity {
							font-weight: 400;
						}
					}
				}
			}
		}
	}
}