.btn {
  font-weight: 600;
  border-radius: 4px;
  padding: 7px 20px;
  font-size: 14px;
  .material-icons {
    vertical-align: middle;
    margin-right: 8px;
  }
  &.btn-link {
    padding-left: 0;
    padding-right: 0;
    color: $secondary;
  }
  &.btn-warning {
    color: $white;
  }
  &.uppercase {
    text-transform: uppercase;
  }
  &.btn-assign {
    background-color: $assign;
    color: $black;
  }
  &.btn-loadmore {
    text-transform: uppercase;
    width: 100%;
    max-width: 510px;
    margin: 0 auto;
    border: 2px solid $primary;
    border-radius: 4px;
    span {
      font-size: 20px;
      margin-left: 30px;
      vertical-align: middle;
    }
  }
}
