.datepicker-panel {
  >ul {
    >li {
      &.highlighted {
        border-radius: 100%;
        background-color: $primary;
        color: $white;
      }
    }
  }
}
.datepicker {
  position: relative;
  &::after {
    background-image: none;
    content: "today";
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    position: absolute;
    top: 4px;
    right: 4px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    color: $primary;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }
}