.filter {
  padding: 15px 30px 15px 30px;
  background-color: #F9F9F9;
  border-bottom: 1px solid #E8E8E8;
  position: relative;
  .dropdown {
    width: 100%;
    .btn {
      &.btn-secondary {
        background-color: $white;
        border: 1px solid #EFEFEF;
        border-radius: 4px;
        padding: 9.5px 40px 9.5px 15px;
        position: relative;
        font-size: 14px;
        line-height: 17px;
        color: #707070;
        font-weight: 400;
        width: 100%;
        text-align: left;
        &::after {
          content: "keyboard_arrow_down";
          font-family: 'Material Icons';
          font-weight: normal;
          font-style: normal;
          font-size: 20px;
          line-height: 1;
          letter-spacing: normal;
          text-transform: none;
          display: inline-block;
          white-space: nowrap;
          word-wrap: normal;
          direction: ltr;
          -webkit-font-feature-settings: 'liga';
          -webkit-font-smoothing: antialiased;
          border: none;
          position: absolute;
          top: 8px;
          right: 10px;
          color: $black;
        }
      }
    }
    .dropdown-menu {
      min-width: 239px;
      box-shadow: 0px 3px 6px #00000029;
      border: 0.5px solid #CECECE;
      .dropdown-item {
        font-weight: 500;
      }
    }
  }
  .action {
    .btn {
      min-width: 108px;
    }
  }
}