.form-group {
  position: relative;
  margin-bottom: 18px;
  .ic-close-eye {
    position: absolute;
    top: 35px;
    right: 8px;
    z-index: 1;
  }
}
.form-control {
  &.line-type {
    border: none;
    border-bottom: 1px solid $color-border;
    border-radius: 0;
  }
  &:focus {
    box-shadow: none !important;
    outline: none 0 !important;
  }
  &.is-invalid {
    color: $danger;
    background-image: none;
  }
}
label {
  color: $text-muted;
  font-weight: 500;
}
.invalid-feedback {
  color: $text-muted !important;
}

.custom-control {
  &.custom-checkbox {
    .custom-control-label {
      font-size: 12px;
      color: #666666;
      line-height: 22px;
      &::before {
        border-radius: 3px;
        border: 2px solid $primary;
      }
    }
    .custom-control-input{
      &:checked {
        ~ .custom-control-label {
          &::after {
            background-image: none;
            content: "done";
            font-family: 'Material Icons';
            font-weight: normal;
            font-style: normal;
            font-size: 15px;
            top: 3px;
            left: -24px;
            line-height: 1;
            letter-spacing: normal;
            text-transform: none;
            display: inline-block;
            white-space: nowrap;
            word-wrap: normal;
            direction: ltr;
            color: $white;
            -webkit-font-feature-settings: 'liga';
            -webkit-font-smoothing: antialiased;
          }
        }
      }
    }
  }
}

