.header {
  background-color: #F9F9F9;
  border-top: 1px solid #E8E8E8;
  border-bottom: 1px solid #E8E8E8;
  padding: 15px 30px;
  h1 {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 0;
  }
}