.modal {
  .modal-dialog {
    &.modal-add {
      right: -30px;
      max-width: 570px;
      .modal-content {
        border-radius: 0;
        .modal-header {
          background-color: #F6F6F6;
          .modal-title {
            font-weight: 500;
          }
          .close {
            span {
              font-size: 18px;
              color: $primary;
            }
          }
        }
        .modal-body {
          padding: 20px 30px;
          form {
            .form-group {
              width: 100%;
              background-color: #F6F6F6;
              padding-top: 8px;
              &.file-control {
                padding-bottom: 8px;
                border-bottom: 1px solid #ced4da;
              }
              label {
                font-weight: 400;
                font-size: 12px;
                margin-bottom: 0;
                padding-left: 15px;
              }
              .form-control {
                border-radius: 0;
                border-top: none;
                border-left: none;
                border-right: none;
                background-color: transparent;
                color: #212121;
                padding: 0 15px 10px 15px;
                font-weight: 500;
                &[type="email"] {
                  color: $primary;
                }
              }
              .form-control-file {
                color: $primary;
                margin-left: 15px;
                &:focus {
                  outline: 0 none !important;
                }
              }
              .dropdown {
                .btn {
                  background-color: transparent;
                  border-radius: 0;
                  border-bottom: 1px solid #ced4da;
                  text-align: left;
                  color: #212121;
                  padding: 6px 15px;
                  font-weight: 500;
                  width: 100%;
                  position: relative;
                  &::after {
                    position: absolute;
                    top: 16px;
                    right: 15px;
                  }
                }
                .dropdown-menu {
                  width: 100%;
                  .dropdown-item {
                    padding: 8px 15px;
                  }
                }
              }
            }
            .action {
              .btn {
                box-shadow: 0px 3px 6px #00000029;
                border-radius: 4px;
              }
            }
          }
        }
      }
    }
    &.modal-sm {
      max-width: 320px;
    }
  }
}