.table-wrapper {
  padding: 36px 30px;
}
.table {
  .thead-light {
    th {
      background-color: #F1F7FF;
      border-color: #ececec;
      vertical-align: middle;
      .btn {
        min-width: 108px;
        padding-top: 4px;
        padding-bottom: 4px;
        color: $primary;
        font-weight: 700;
        box-shadow: 0px 3px 6px #00000029;
      }
    }
  }
  tbody {
    tr {
      td {
        font-weight: 400;
         .btn {
          padding-top: 4px;
          padding-bottom: 4px;
          min-width: 109px;
        }
      }
      td, th {
        border-color: #ececec;
      }
    }
  }
  &.table-strip {
    tbody {
      tr {
        &:nth-child(even) {
          td, th {
            background-color: #F9F9F9;
          }
        }
      }
    }
  }
}